.prop{
    display: flex;
    flex-wrap:wrap;
    /* justify-content: space-evenly; */
    margin: 100px;   
    

    
}

.child5{
    
    width: 200px;
    height: 200px;
    margin-right: 11px;
    margin: 5px; 
    
}











.dc5{
    border-left: 1px #1A626F solid;
    border-bottom: 1px #1A626F solid;
    border-right: 1px #1A626F solid;
    padding: 10px;
    
}

h5{
    display: flex;
    flex-direction:row-reverse;
    font-size: 20px;
    text-align:le
} 

img{
    height: 200px;
    width: 200px;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -4px;
    
    
    
}
